.dropdown-menu {
  background: rgba(17, 40, 56, 0.9);
  width: 250px;
  position: absolute;
  top: 78px;
  left: 0%;
  list-style: none;
  text-align: start;
  z-index: 1000;
  display: block;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.dropdown-menu li {
  cursor: pointer;
  border: none;
  text-align: start;
}

.dropdown-menu li:hover {
  background: #f0f7ff;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  color: $Fontcolor-main;
  text-decoration: none;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .dropdown-menu {
    background: rgb(17, 40, 56);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    text-align: start;
    z-index: 1000;
    display: block;
  }

  .dropdown-menu li {
    text-align: center;
    font-size: 20px;
  }
}
